body {
    padding: 10px;
}

h2 {
    margin-bottom: 25px;
    margin-left: 2px;
}

label {
    margin-top: 5px;
    margin-bottom: 2px;
}

th {
    width: 18%;
    text-align: end;
}

td {
    vertical-align: middle;
}

td>a {
    text-decoration: none;
}

td>a:hover {
    text-decoration: underline;
}

.sell-form>ul {
    list-style-type: none;
}

.container {
    margin-top: 30px;
}

.card-text {
    font-size: 14px;
}

.item-img {
    height: 25rem;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: contain;
}

.comments-section>h5 {
    margin-left: 3px;
}

.comments-section>textarea {
    height: 50px;
}

.comment-info {
    font-size: 13px;
}

.comment-info>span {
    margin-left: 16px;
}

#price-text {
    font-size: 16px;
}
