{% extends 'auctions/layout.html' %}

{% block title %}{{ item.name }} | Auctions{% endblock title %}

{% block body %}

<img src="{{ item.image_url }}" alt="item_image">

<p>{{ item.name }}</p>
<p>{{ item.description }}</p>
<p>{{ item.starting_price }}</p>
<p>{{ item.seller }}</p>

{% for category in categories %}
<ul>{{ category }}</ul>
{% endfor %}

<form action="{% url 'auctions:item' item.id %}" method="post">
    {% csrf_token %}
    {{ bid_form }}
    <button class="btn btn-primary" type="submit" name="place-bid">Place bid</button>
</form>

<h5>Comments</h5>

<form action="{% url 'auctions:item' item.id %}" method="post">
    {% csrf_token %}
    {{ comment_form }}
    <button class="btn btn-outline-primary" type="submit" name="post-comment">Post comment</button>
</form>

{% for comment in comments %}
<ul>
    {{ comment.author }}
    {{ comment.date_posted }}
    {{ comment.text }}
</ul>
{% endfor %}

{% endblock body %}
