{% extends 'auctions/layout.html' %}

{% block title %}List an item | Auctions{% endblock title %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-8">
        <h2>List an item</h2>

        <form action="{% url 'auctions:sell' %}" method="post">
            <div class="sell-form form-group">
                {% csrf_token %}
                {{ form }}
                <div class="d-flex flex-row-reverse">
                    <button class="btn btn-primary col-3 ms-2" type="submit">List Item</button>
                    <a class="btn btn-outline-secondary" href="{% url 'auctions:index' %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock body %}
